<!doctype html>
<html>
   <body style="background-color:gainsboro;">
     <h1>India COVID19 Dashboard</h1>
     <div align="center">
       <div>&nbsp;</div>
       <div>
         <div><B>Total Cases & Growth Rate</B>&nbsp;(Last 45 days)</div>
         <div>&nbsp;</div>
         <div><img src="/growth.png" alt="Cases Growth Rate"></div>
       </div>
       <div>&nbsp;</div>
       <div>&nbsp;</div>
       <div>
         <div><B>Daily New Cases & Recoveries</B></div>
         <div>&nbsp;</div>
         <div><img src="/new.png" alt="New Cases & Recoveries"></div>
       </div>
       <div>&nbsp;</div>
       <div>&nbsp;</div>
       <div>
         <div><B>State wise Death Rate</B></div>
         <div>&nbsp;</div>
         <div><img src="/death.png" alt="State wise Death Rate"></div>
       </div>
     </div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>Source: covid19india.org</div>
   </body>
</html>
