<!doctype html>
<html>
  <head>
    <title>COVID19 India Dashboard</title>
    <style>
      ul#menu li {
        display:inline;
      }
      /* unvisited link */
      a:link {
        color: #ccc;
      }
      /* visited link */
      a:visited {
        color: #095484;
      }
      /* mouse over link */
      a:hover {
        color: #8ebf42;
      }
      /* selected link */
      a:active {
        color: #800000;
      }
    </style>
  </head>
   <body style="background-color:gainsboro;">
     <h1 align="center">India COVID19 Dashboard</h1>
     <div align="center">
       <div><ul id="menu">
           <li align="left"><a href="http://setia.in">Anurag Setia's blog</a></li>
           <li>&nbsp;|&nbsp;</li>
           <li align="right"><a href="https://github.com/anuragsetia/covid">Github project</a></li>
       </ul></div>
       <div>&nbsp;</div>
       <div>
         <div><B>Total Cases & Growth Rate</B>&nbsp;(Last 45 days)</div>
         <div>&nbsp;</div>
         <div><img src="/growth.png" alt="Cases Growth Rate"></div>
       </div>
       <div>&nbsp;</div>
       <div>&nbsp;</div>
       <div>
         <div><B>Daily New Cases & Recoveries</B>&nbsp;(Last 45 days)</div>
         <div>&nbsp;</div>
         <div><img src="/new.png" alt="New Cases & Recoveries"></div>
       </div>
       <div>&nbsp;</div>
       <div>&nbsp;</div>
       <div>
         <div><B>State wise Death Rate</B></div>
         <div>&nbsp;</div>
         <div><img src="/death.png" alt="State wise Death Rate"></div>
       </div>
     </div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>Data Source: <a href="https://www.covid19india.org">covid19india.org</a></div>
   </body>
</html>
