<!doctype html>
<html>
   <body style="background-color:gainsboro;">
     <h1 align="center">India COVID19 Dashboard</h1>
     <div align="center">
        <div align="right"><a href="https://github.com/anuragsetia/covid">Github project</a></div>
       <div>&nbsp;</div>
       <div>
         <div><B>Total Cases & Growth Rate</B>&nbsp;(Last 45 days)</div>
         <div>&nbsp;</div>
         <div><img src="/growth.png" alt="Cases Growth Rate"></div>
       </div>
       <div>&nbsp;</div>
       <div>&nbsp;</div>
       <div>
         <div><B>Daily New Cases & Recoveries</B>&nbsp;(Last 45 days)</div>
         <div>&nbsp;</div>
         <div><img src="/new.png" alt="New Cases & Recoveries"></div>
       </div>
       <div>&nbsp;</div>
       <div>&nbsp;</div>
       <div>
         <div><B>State wise Death Rate</B></div>
         <div>&nbsp;</div>
         <div><img src="/death.png" alt="State wise Death Rate"></div>
       </div>
     </div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>&nbsp;</div>
     <div>Data Source: <a href="https://www.covid19india.org">covid19india.org</a></div>
   </body>
</html>
